<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Report PDF Template</title>
</head>

<style>
  #banner {
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0;
  }
</style>

<body style="margin-top: 0%;">
  <div id="banner">
    <%if(data.labDetails.labBanner){%>
      <img src="<%=data.labDetails.labBanner%>" style="object-fit:contain; width:100%;">
      <%}else{%>
        <h1 style="text-align: center; margin-top: 0%;">
          <%=data.labDetails.name%>
        </h1>
        <p style="text-align: center;">
          <%=data.labDetails.address%>
        </p>
        <p style="text-align: center;">
          <%=data.labDetails.contactNumbers%>
        </p>
        <%}%>
  </div>
  <hr />
  <h3 style="text-align: center;"><%=data.Test_Detail.name%> (R#<%=data.id%>)</h3>
  <hr />
  <table style="border-collapse: collapse; width: 100%; height: 68px;" border="1">
    <tbody>
      <tr style="height: 23px;">
        <td style="width: 20.3421%; height: 23px;"><strong>Name</strong></td>
        <td style="width: 29.6579%; height: 23px;"><%=data.Invoice.Patient.name%> (P#<%=data.Invoice.Patient.id%>)</td>
        <td style="width: 16.3352%; height: 23px;"><strong>Referred By</strong></td>
        <td style="width: 33.6648%; height: 23px;"><%=data.referred_by%></td>
      </tr>
      <tr style="height: 23px;">
        <td style="width: 20.3421%; height: 23px;"><strong>Contact Number</strong></td>
        <td style="width: 29.6579%; height: 23px;"><%=data.Invoice.Patient.contact_number%></td>
        <td style="width: 16.3352%; height: 23px;"><strong>Test Date</strong></td>
        <td style="width: 33.6648%; height: 23px;"><%=data.createdAt%></td>
      </tr>
      <tr style="height: 22px;">
        <td style="width: 20.3421%; height: 22px;"><strong>Age, Sex</strong></td>
        <td style="width: 29.6579%; height: 22px;"><%=data.Invoice.Patient.age%>, <%=data.Invoice.Patient.gender%></td>
        <td style="width: 16.3352%; height: 22px;"><strong>Report Date</strong></td>
        <td style="width: 33.6648%; height: 22px;"><%=data.updatedAt%></td>
      </tr>
    </tbody>
  </table>
  <hr />
  <table style="border-collapse: collapse; width: 100%; height: 36px;" border="1">
    <tbody>
      <tr style="height: 18px;">
        <td style="width: 28.8353%; height: 18px;"><strong>Test Parameter</strong></td>
        <td style="width: 30.8238%; height: 18px;"><strong>Result</strong></td>
        <td style="width: 17.4716%; height: 18px;"><strong>Unit</strong></td>
        <td style="width: 22.8693%; height: 18px;"><strong>Normal Range</strong></td>
      </tr>
      <%for(let i=0; i< data.Test_Parameters.length; i++){ %>
      <tr style="height: 18px;">
        <td style="width: 28.8353%; height: 18px;"><%=data.Test_Parameters[i].name%></td>
        <td style="width: 30.8238%; height: 18px;"><%=data.Test_Parameters[i].ReportValue.value%></td>
        <td style="width: 17.4716%; height: 18px;"><%=data.Test_Parameters[i].unit%></td>
        <td style="width: 22.8693%; height: 18px;"><%=data.Test_Parameters[i].range%></td>
      <%}%>
      </tr>
    </tbody>
  </table>
  <p><strong>Remarks:</strong></p>
  <p><%-data.remarks%></p>
  <p><strong>Description:</strong></p>
  <ol>
    <%for(let i=0; i< data.Test_Parameters.length; i++){ %>
    <li><%=data.Test_Parameters[i].name%>: <%=data.Test_Parameters[i].description%></li>
    <%}%>
  </ol>
  <p><strong>Note:</strong></p>
  <p><%=data.Test_Detail.description%></p>
  <p style="text-align: right;"><strong><%=data.Doctor.name%></strong></p>
  <p style="text-align: right;"><strong><%=data.Doctor.degree%></strong></p>
  <p style="text-align: right;"><strong><%=data.Doctor.field%></strong></p>
  <%if(data.Doctor.signature_file_path){%>
  <p style="text-align: right;"><img src="<%=data.Doctor.signature_file_path%>"
      alt="" width="152" height="90" /></p>
  <%}%>
</body>

</html>