<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bill</title>
</head>

<style>
    #banner {
      margin-top: 0%;
      margin-bottom: 0%;
      padding: 0;
    }
  </style>

<body style="margin-top: 0%;">
    <div id="banner">
        <%if(data.labDetails.labBanner){%>
          <img src="<%=data.labDetails.labBanner%>" style="object-fit:contain; width:100%;">
          <%}else{%>
            <h1 style="text-align: center; margin-top: 0%;">
              <%=data.labDetails.name%>
            </h1>
            <p style="text-align: center;">
              <%=data.labDetails.address%>
            </p>
            <p style="text-align: center;">
              <%=data.labDetails.contactNumbers%>
            </p>
            <%}%>
      </div>
    <hr />
    <table style="border-collapse: collapse; width: 100%; height: 68px;" border="1">
        <tbody>
            <tr style="height: 23px;">
                <td style="width: 20.3421%; height: 23px;"><strong>Name</strong></td>
                <td style="width: 29.6579%; height: 23px;"><%=data.patient_name%> (P#<%=data.patient_id%>)</td>
                <td style="width: 16.3352%; height: 23px;"><strong>Referred By</strong></td>
                <td style="width: 33.6648%; height: 23px;"><%=data.referred_by%></td>
            </tr>
            <tr style="height: 23px;">
                <td style="width: 20.3421%; height: 23px;"><strong>Contact Number</strong></td>
                <td style="width: 29.6579%; height: 23px;"><%=data.patient_contactNumber%></td>
                <td style="width: 16.3352%; height: 23px;"><strong>Date</strong></td>
                <td style="width: 33.6648%; height: 23px;"><%=data.invoiceDate%></td>
            </tr>
            <tr style="height: 22px;">
                <td style="width: 20.3421%; height: 22px;"><strong>Age, Sex</strong></td>
                <td style="width: 29.6579%; height: 22px;"><%=data.age%>, <%=data.gender%></td>
                <td style="width: 16.3352%; height: 22px;"><strong>Report ID<br /></strong></td>
                <td style="width: 33.6648%; height: 22px;">I#<%=data.invoice_id%></td>
            </tr>
        </tbody>
    </table>
    <hr />
    <p>&nbsp;</p>
    <table style="border-collapse: collapse; width: 100%; height: 103px;" border="1">
        <tbody>
            <tr style="height: 18px;">
                <td style="width: 3.75723%; height: 18px;"><strong>S.No.<br /></strong></td>
                <td style="width: 55.9018%; height: 18px;"><strong>Test Name</strong></td>
                <td style="width: 17.4716%; height: 18px;"><strong>Cost</strong></td>
            </tr>
            <%for(let i=0; i< data.testList.length; i++){ %>
            <tr style="height: 18px;">
                <td style="width: 3.75723%; height: 18px;"><%=i+1%></td>
                <td style="width: 55.9018%; height: 18px;"><%=data.testList[i].name%> (T#<%=data.testList[i].id%>)</td>
                <td style="width: 17.4716%; height: 18px;">₹<%=data.testList[i].cost%></td>
            </tr>
            <%}%>
            <tr style="height: 13px;">
                <td style="width: 3.75723%; height: 13px;">&nbsp;</td>
                <td style="width: 55.9018%; height: 13px;"><strong>Subtotal</strong></td>
                <td style="width: 17.4716%; height: 13px;">₹<%=data.total_amount%></td>
            </tr>
            <tr style="height: 18px;">
                <td style="width: 3.75723%; height: 18px;">&nbsp;</td>
                <td style="width: 55.9018%; height: 18px;"><strong>Discount</strong></td>
                <td style="width: 17.4716%; height: 18px;">₹<%=data.discount%></td>
            </tr>
            <tr style="height: 18px;">
                <td style="width: 3.75723%; height: 18px;">&nbsp;</td>
                <td style="width: 55.9018%; height: 18px;"><strong>Final Amount</strong></td>
                <td style="width: 17.4716%; height: 18px;"><strong>₹<%=data.final_amount%></strong></td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
    <p><strong>Note:</strong></p>
    <p>This is a computer generated invoice and is valid without a signature or seal</p>
</body>

</html>